# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Expo
# =========================
.expo/
dist/
web-build/
expo-env.d.ts

# =========================
# Environment Files
# =========================
.env
.env.*
!.env.example

# =========================
# Native Secrets
# =========================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# =========================
# Metro
# =========================
.metro-health-check*

# =========================
# Debug Logs
# =========================
npm-debug.*
yarn-debug.*
yarn-error.*

# =========================
# macOS
# =========================
.DS_Store

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Kotlin cache
# =========================
.kotlin/
